%ul.panel-controls
  %li
    = link_to run_admin_skeleton_refresh_path, class: 'btn btn-default', remote: true, data: { :'job-tracker-button' => true } do
      = fa_icon 'refresh'
      = t('para.seo_tools.pages.refresh_skeleton')
